
html, body {

    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
  font-family: "Indie Flower";
  background-color: #123456;
  color: #00AA22;

}
a {
  color: #00FF77;
}

#barraBotones a{
    font-size: 30px;
}

.tabla,.tabla th ,.tabla td{
  font-size: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}
th,form{
  padding: 9px;
}

form td{
  font-size: 30px;
  text-transform: capitalize;
}

#bienvenida{
  font-size: 100px;
  margin: 0px;
}

#lema{

  font-size: 38px;
  margin: 0px;
}

.circulo {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.editar{
  float:right;
}

.centrar{
  float:left;
}
#encabezado{
  margin: 0px;
  border: 0px;
  height: 90%;
}

#paginaActual{
  margin: 0px;
  border: 0px;
  height: 0%;
}

.amplia{
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.botonBarra{
  position: absolute;
}

.curriculum,.curriculum td{
  font-size: 20px;
  padding: 3px;
}
