<form action="" method="post" style="display:none">
  <input id="delete" type="text" name="delete" value="1">
  <button type="submit">borrar</button>

</form>

<script type="text/javascript">
  function borrar(id){
    var del = document.getElementById("delete");
    del.value=id;
    del.form.submit();
  }
</script>
