html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}


/*
body {
  color: #00AA22;
  
  background-color: #123456;
  

}


a {
  color: #00FF77;
}

#barraBotones a{
    font-size: 30px;
}

.tabla,.tabla th ,.tabla td{
  font-size: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}
th,form{
  padding: 9px;
}

form td{
  font-size: 30px;
  text-transform: capitalize;
}



#lema{

  font-size: 38px;
  margin: 0px;
}

*/

a {
  color: #00FF77;
}

a:hover{
	color: #00FF77;
}

.circulo {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.editar{
  float:right;
}



body {
  background-color: #343a40;
}

.titulo{
	color: #00FF77;
}

#encabezado{
  background-color: #242a30;
  font-family: "Indie Flower";
  margin: 0px;
  border: 0px;
}

#bienvenida{
  font-size: 100px;
  margin: 0px;
}


.ajusteAlContenido{
	position:relative;
	display:inline-block;
	margin:0px;
}

#espacioBotones{
	
	position:relative;
	height:0px;
	margin:2px;
}

#barraBotones{
	position:absolute;
	left:0;
	top:50px;
}

.botonBarra{
	position:absolute;
	width:100px;
}


.hr-header{
	height: 1px;
	border: 0;
	margin:0px;
	background-color: #00FF77;
}

#paginaActual{
  margin: 0px;
  border: 0px;
  height: 0%;
}

.amplia{
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}


.curriculum,.curriculum td{
  font-size: 20px;
  padding: 3px;
}

