
body {
  font-family: "Indie Flower";
  background-color: #123456;
  color: #00AA22;
}
.vinculo {
  font-size: 30px;
  color: #00FF77;
}

.tabla,.tabla th ,.tabla td{
  font-size: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}
th,form{
  padding: 9px;
}

form td{
  font-size: 30px;
  text-transform: capitalize;
}

.bienvenida{
  font-size: 100px;
  margin: 0;
}

.lema{

  font-size: 38px;
  margin: 0;
}

.circulo {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.editar{
  float:right;
}

.centrar{
  float:left;
}
